*{
    margin: 0px;
    /* background-color: rgb(118, 197, 171); */
}
body{
    background-color: rgb(43, 226, 141);
}
.nav{
    display: flex;
    background-color: rgb(27, 182, 182);
    position:fixed;
    z-index: 1;
    width: 100%;
}
nav{
    display: flex;
    list-style-type: none;
}
li{
    padding: 20px;
    position: relative;
    left: 100px;
}
li a{
    text-decoration: none;
    color: aliceblue;
    font:bolder;
}
.search{
    position: relative;
    left: 100px;
    top: 10px;
    width: 300px;
    border-radius: 10px;
    height: 30px;
    color: aliceblue;
    border-color: aliceblue;
    background-color: rgb(27, 182, 182);
}
.user,.heart,.cart{
    
    float: right;
    position: relative;
    /* bottom: 50px; */
    top: 10px;
    left: 120px;
    padding: 10px;
}
.cart_link{
    text-decoration: none;
    color: black;
    position: relative;
    top: -3px;
}
sup{
    background-color: red;
    position: relative;
    top: -10px;
    color: rgb(241, 16, 16);
    border: 3px solid red;
    border-radius: 50%;
    font-size: 10px;
    color: white;
}
.prod_link span{
    display: none;
}
#products{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border-radius: ; */
    position: relative;
    /* overflow-x: auto; */
    /* overflow-x:auto; */
    padding: 10px;
    margin: 10px;
    /* width: ; */
}
.product_card{
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width:300px;
    height:400px;
    /* font-size: 20px!important; */
    box-shadow: 0px 0px 50px;
    position: relative;
    padding: 20px;
    background-color: rgb(32, 44, 151);
    margin-bottom: 20px;

}
.product_card a{
    text-decoration: none;
    font-size: 15px;
    /* padding: 0px; */
}
#add_to_cart{
    border-radius: 10px;
    width: 100px;
    height: 50px;
}
.product_card h3{
    font-size: large;
    color: antiquewhite;
}
.product_card  .pricemain{
    color: white;
}
.product_card button{
    margin-top: -10px;
    height: 40px!important;
    width: 100px!important;
}